html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;width: 100vw;height: 100vh;overflow: hidden;}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none;background: transparent;color: white;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

body{
    font-family:col-thin;
}
.login {
    background: url('../img/imgs/bg-login.jpg') no-repeat;
    background-size: cover;
}

.main{
    background-image: url('../img/imgs/bg-categorias.jpg');
    background-size: cover;
    padding: 0;
    background-color: #000;
}

.sub-1{
    background-image: url('../img/imgs/bg-sub-1.jpg');
    background-size: cover;
    padding: 0;
    background-color: #000;
}
.sub-2{
    background-image: url('../img/imgs/bg-sub-2.jpg');
    background-size: cover;
    padding: 0;
    background-color: #000;
}

.bg-list-noticias{
    background: url('../img/imgs/bg-noticias.jpg') no-repeat white;
    background-size: contain;
    background-position-y: -100px;
}

.bg-detalle{
    background: url('../img/imgs/bg-noticias.jpg') no-repeat;
    background-size: contain;
    background-position-y: -100px;
    background-color: white;
}

.bg-menu{
    background: url('../img/imgs/bg-menu.jpg') no-repeat;
    background-size: cover;
}

.bg-menu .list ion-item a, .bg-menu .list ion-item {
    background: none;
}

.bg-menu .list ion-item {
    border: 0px;
}

.bg-menu .list ion-item a{
    background: transparent;
    color: white;
    font-size: 18px;
    padding: 20px 0 0 14px;
}

.logo{
    margin-left: 16%;
    width: 68%;
    margin-top: 15%;
}

label.item.item-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    padding-left: 0;
}

label.item.item-input input {
    color: white;
}

.btn-categoria{
    background: none;
    color: white;
    font-size: 40px;
    display: block;
    text-align: center;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.btn-categoria:active, .btn-categoria:focus, .btn-categoria:hover, .btn-categoria:visited,{
    background: none;
}

.btn-login{
    color: white !important;
    background: #00bdf2; /* Old browsers */
    background: -moz-linear-gradient(top,  #00bdf2 0%, #00b3f0 20%, #0066b3 75%, #004785 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00bdf2 0%,#00b3f0 20%,#0066b3 75%,#004785 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00bdf2 0%,#00b3f0 20%,#0066b3 75%,#004785 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdf2', endColorstr='#004785',GradientType=0 ); /* IE6-9 */
}
#login-button1 i{
    position: absolute;
    right: 5%;
    top: 24%;
}
.logo-small{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.logo-mail{
    background: url('../img/svg/mail.svg') no-repeat;
    background-size: cover;
}

.logo-pass{
    background: url('../img/svg/pass.svg') no-repeat;
    background-size: cover;
}

.logo-arrow-go{
    background: url('../img/svg/arrow-go.svg') no-repeat;
    background-size: cover;
}

.icon-ventas{
    background: url('../img/svg/ventas.svg') no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 20px;
}

.icon-marketing{
    background: url('../img/svg/marketing.svg') no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 20px;
}

.icon-salir {
    background: url(../img/svg/marketing.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 20px;
}

.azul-claro{
    color: #2be9ff !important;
}
.menu-puntos{
    font-size: 25px;
}

.menu-nombre{
    color: white;
    font-size: 22px;
}

.menu-cargo{
    font-size: 15px;
}

.list-title{
    color: white;
    font-size: 22px;
}

.list-subtitle{
    color: #b9b7b7;
    font-size: 18px;
}

.detalle-fecha{
    color: #b9b7b7;
}
.detalle-title{
    color: white;
    font-size: 26px;
}
.detalle-subtitle{
    color: #b9b7b7;
    margin-top: 16px;
}

.detalle-text{
    color: #888686;
}

.detalle-border-title{
    border-top: 3px solid;
    width: 40px;
}

.transparent{
    background: none !important;
    border: none;
}

.white{
    color: white !important;
}

.detalle-icon-fecha{
    background: url('../img/svg/reloj.svg') no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 6px;
}

.subcategoria-title{
    font-size: 25px;
}

/*
.subcategoria-row{
    background: none;
    width: 100%;
    float: left;
}

.subcategoria-row1{
    border-bottom: 2px solid #2be9ff;
    border-top: 2px solid #2be9ff;
}

.subcategoria-row2{
    border-bottom: 2px solid #2be9ff;
}

.subcategoria-row3{
    border-bottom: 2px solid #2be9ff;
}

.subcategoria-row2 a{
    width: 100%;
}

.btn-subcategoria-row1-caja1{
    width: 40%;
    border-right: 2px solid #2be9ff;
}
.btn-subcategoria-row1-caja2{
    width: 60%;
}
.btn-subcategoria-row3-caja1{
    width: 60%;
}
.btn-subcategoria-row3-caja2{
    width: 40%;
    border-left: 2px solid #2be9ff;
}
*/
.btn-subcategoria-caja{
    width: 100%;
    border-color: #2be9ff;
    border-style: solid;
    border-width: 0.040em;
    border-left: 0;
    border-right: 0;
    border-top-width: 0;
}

.btn-subcategoria-caja:nth-child(1){
    border-top-width: 0.040em;
}

.btn-subcategoria-caja-1{
    width: 40%;
    border: 2px solid #2be9ff;
    border-left: none;
}
.btn-subcategoria-caja-2{
    width: 60%;
    border: 2px solid #2be9ff;
    border-left: none;
    border-right: none;
}
.btn-subcategoria-caja-3{
    width: 100%;
    border-bottom: 2px solid #2be9ff;
    height: auto !important;
}
.btn-subcategoria-caja-4{
    width: 60%;
    border: 2px solid #2be9ff;
    border-left: none;
    border-top: none;
}
.btn-subcategoria-caja-5{
    width: 40%;
    border-bottom: 2px solid #2be9ff;
}


.btn-subcat{
    color: white;
    background: none;
    display: block;
    font-size: 19px;
    padding: 13px 8px;
    text-align: center;
    text-decoration: none;
    float: left;
    height: 24px;
    background: rgba(20, 28, 49, 0.75);
    display: table;
}

.main-icon{
    position: fixed;
    width: 40px;
    height: 40px;
    font-size: 36px;
    color: #fff;
}

.main-icon-ventas{
    background: url('../img/svg/carrito.svg') no-repeat;
    background-size: contain;
    top: 50px;
    right: 20px;
}
.main-icon-marketing{
    background: url('../img/svg/torta.svg') no-repeat;
    background-size: contain;
    bottom: 20px;
    left: 20px;
}

.list-cat-icon-carrito{
    background: url('../img/svg/carrito.svg') no-repeat;
    background-size: contain;
    float: left;
    width: 25px;
    height: 25px;
}
.list-cat-icon-torta{
    background: url('../img/svg/torta.svg') no-repeat;
    background-size: contain;
    float: left;
    width: 25px;
    height: 25px;
}

.list-cat-tipo{
    width: 80%;
    height: 16%;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    z-index: 4;
    border-bottom: 0.098em solid #fff;
    position: absolute;
    left: 10%;
    top: 44px;
}
.list-cat-tipo span{position: relative;display: block;overflow: hidden;font-size: 20px;color: #ffffff;text-align: center;}
.list-cat-tipo a{width: 50%;float: left;position: relative;display: block;overflow: hidden;opacity:0.5;font-family: col-thin;}
.list-cat-tipo a.active{
    opacity:1;
    font-family: col-reg;
}
.list-cat-tipo i{display: block;text-align: center;font-size: 22px;color: #fff;}
.separador-icons{
}

.detalle-info-noticia{
    padding: 0 10px;
}

.detalle-text{
    background: white;
    text-align:justify;
    padding:0 10px;
}
.detalle-text img{
    width: 100%;
    padding:10px 0;
}

.item {
    color: #f8f8f8;
}

#login-list2{
    width: 85%;
    position: relative;
    display: block;
    margin: 0 auto;
}
#main-container7 div{
    height: 50%;
    display: table;
    width: 100%;
    position: relative;
}
#main-container7 div:nth-child(1){}
#main-container7 div:nth-child(2){}

#main-container7 div i{
    opacity: 0.5;
}

#main-container7 div:nth-child(1) i{
    position: absolute;
    right: 11px;
    top: 44px;
}
#main-container7 div:nth-child(2) i{
    position: absolute;
    bottom: 14px;
    left: 5px;
}
#main-container7{
    height: 100%;
}
#ion-content-clear {
    top:0px!important;
}

#ventas-list3{}
#ventas-list3 h2{
    color: #101d33;
    font-family: col-reg;
}
#ventas-list3 i{}
#ventas-list3 a{}
#ventas-list3 img{}

#frist-new{
    width: 100%;
    height: 180px;
    position: relative;
    display: block;
    overflow: hidden;
    background-size: cover;
}
#frist-new::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141c31;
    opacity: 0.9;
    z-index: 0;
}

#frist-new::after{
        content:"";
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008dd4+0,0082c9+50,008dd4+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(0,141,212,0) 0%, rgba(0,130,201,0.5) 50%, rgba(0,141,212,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,141,212,0) 0%,rgba(0,130,201,0.5) 50%,rgba(0,141,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,141,212,0) 0%,rgba(0,130,201,0.5) 50%,rgba(0,141,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008dd4', endColorstr='#008dd4',GradientType=0 ); /* IE6-9 */
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        opacity: 0.41;
        z-index: 0;
}
#frist-new-info{
    width: 100%;
    z-index: 1;
    position: relative;
    height: 80%;
    margin: 0;
    display: block;
    overflow: hidden;
    margin-top: 25%;
}
#frist-new-info p{display: block;color: #fff;text-align: center;font-size: 24px;margin-top: 15px;}
#frist-new-info strong{display: block;color: #fff;text-align: center;font-size: 40px;font-family: col-thin;letter-spacing: 3px;line-height: 37px;}
#frist-new-info small{float: left;color: #fff;position: absolute;bottom: 5px;left: 5px;font-size: 16px;}

#top-new{
    width: 100%;
    height: 260px;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
}

#top-new::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #141c31;
    opacity: 0.9;
    z-index: 0;
}

#top-new::after{
        content:"";
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008dd4+0,0082c9+50,008dd4+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(0,141,212,0) 0%, rgba(0,130,201,0.5) 50%, rgba(0,141,212,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,141,212,0) 0%,rgba(0,130,201,0.5) 50%,rgba(0,141,212,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,141,212,0) 0%,rgba(0,130,201,0.5) 50%,rgba(0,141,212,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00008dd4', endColorstr='#008dd4',GradientType=0 ); /* IE6-9 */
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        opacity: 0.41;
        z-index: 0;
}

#top-new #diagonal{
    content:"";
    width: 106%;
    position: absolute;
    bottom: -16px;
    height: 50px;
    background: #fff;
    right: -4px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: 1;
}

#top-new p{display: block;color: #fff;text-align: left;font-size: 24px;margin-top: 20%;margin-left: 5%;z-index: 1;position: relative;}
#top-new strong{display: block;color: #fff;text-align: left;font-size: 24px;margin-top: 15px;font-family: col-reg;margin: 0;margin-left: 5%;z-index: 1;position: relative;}
#top-new small{float: left;color: #fff;bottom: 41px;left: 5px;font-size: 16px;z-index: 1;position: absolute;}

#line-top-new{width: 25%;height: 3px;border-radius: 15px;background: #2be9ff;margin-left: 5%;margin-bottom: 6px;display: block;z-index: 1;position: relative;}

#line-top-new::before{
    /* content:""; */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(5,255,250,0) 0%, rgba(5,255,250,0) 1%, rgba(5,242,253,1) 32%, rgba(5,234,255,1) 51%, rgba(5,234,255,1) 52%, rgba(5,241,252,1) 69%, rgba(5,255,246,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(5,255,250,0) 0%,rgba(5,255,250,0) 1%,rgba(5,242,253,1) 32%,rgba(5,234,255,1) 51%,rgba(5,234,255,1) 52%,rgba(5,241,252,1) 69%,rgba(5,255,246,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(5,255,250,0) 0%,rgba(5,255,250,0) 1%,rgba(5,242,253,1) 32%,rgba(5,234,255,1) 51%,rgba(5,234,255,1) 52%,rgba(5,241,252,1) 69%,rgba(5,255,246,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0005fffa', endColorstr='#0005fff6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 8px;
    z-index: 1;
}

#news{
}
#news .new{
    height: 80px;
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    width: 100%;
    border-bottom: 0.010em solid #ccc;
}
#news .new img{
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
    display: block;
}
#news .new p{
    color: #101d33;
    font-size: 17px;
    float: left;
    width: 100%;
    margin: 0;
    display: block;
    position: relative;
    font-family: col-reg;
    padding-left: 2%;
    line-height: 16px;
    margin-top: 10px;
}#news .new div{
    height: 100%;
    width: calc(100% - 80px);
    float: left;
}
#news .new strong{
    color: #777777;
    font-size: 15px;
    font-family: col-thin;
    margin-left: 12px;
    float: left;
    width: 100%;
    margin: 0;
    display: block;
    position: relative;
    padding-left: 2%;
    margin-top: 2px;
}
.producto-select{
    float: right;
    color: #fff;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}