<ion-view  id="page2">
  <ion-content id="ion-content-clear">
		<div id="frist-new" style="background-image:url(http://fbapp.brm.com.co/fbappFundacion/appVendedores/img/noticias/{{noticia1.imagen}})">
		    <div class="list-cat-tipo">
				<a ng-click="selCategoria(categoria1)">
					<i class="lnr lnr-banknote"></i>
				</a>
				<span class="separador-icons"> / </span>
				<a ng-click="selCategoria(categoria2)">
					<i class="lnr lnr-news"></i>
				</a>
		    </div>
		    <div id="frist-new-info">
		      	<strong>{{nombreSubcategoria}}</strong>
		        <div class="producto-select" ng-show="productos">
		        	<select ng-options="producto.nombre for producto in productos" ng-model="productoModel" ng-change="selectedProd(productoModel.idProducto)"></select>
		        </div>
		    </div>
		</div>
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list id="news">
			<div class="new" ng-repeat="noticia in noticias" ng-click="selNoticia(noticia.idNoticia)">
		        <img ng-src="http://fbapp.brm.com.co/fbappFundacion/appVendedores/img/noticias/{{noticia.imagen}}">
		        <p>{{reducirTamTitle(noticia.titulo)}}</p>
		         <strong>{{noticia.subtitulo}}</strong>
			</div>
		</ion-list>
		<!-- <ion-infinite-scroll ng-if="!estadoScroll" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
  </ion-content>
</ion-view>