<ion-view id="page7" class="main">
  <ion-content padding="false	" scroll="false" id="ion-content-clear">
    <div id="main-container7">
    	<div>
    		<i class="main-icon lnr lnr-banknote"></i>
			<a id="main-button4" ng-click="selCategoria(categoria1)" class="btn-categoria">{{categoria1.nombre}}</a>
    	</div>
    	<div>
    		<i class="main-icon lnr lnr-news"></i>
			<a id="main-button5" ng-click="selCategoria(categoria2)" class="btn-categoria">{{categoria2.nombre}}</a>
    	</div>
    </div>
  </ion-content>
</ion-view>