{#include file="head.html" user=$user#}
{#include file="menu.html"#}

			<article>
				
				<form id="create">

					<div id="create-title">
						<div id="create-title-option">
							<p>Crear Categoría</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-users"></i>
						</div>
					</div>

					<div id="create-two">
						
						<div class="create-fileds">
							<div class="create-field">
								<input type="hidden" name="idCategoria" id="idCategoria" value="{#$subcategoria->idCategoria#}">
									<select name="idPadre" id="idPadre">
										<option>Categoría</option>
										{#foreach from=$categorias item=dato#}
											{#if isset($dato->idCategoria) && $dato->idCategoria == $subcategoria->idPadre#}
												<option selected value="{#$dato->idCategoria#}">{#$dato->nombre#}</option>
											{#else#}
												<option value="{#$dato->idCategoria#}">{#$dato->nombre#}</option>
											{#/if#}
										{#/foreach#}
									</select>
									<div class="create-field-line"></div>
								</div>
							</div>

							<div class="create-fileds">
								<div class="create-field">
									<input type="text" name="nombre" id="nombre" value="{#$subcategoria->nombre#}" placeholder="Subcategoría">
									<div class="create-field-line"></div>
								</div>
							</div>
						
					</div>

				</form>

			</article>
			
		</section>
		<script type="text/javascript" src="js/categorias.js"></script>
{#include file="footer.html"#}

