{#include file="head.html"#}
{#include file="menu.html"#}


			<article id="{#$seccion#}">
				
				<div id="data">

					<div id="data-top">

						<div id="data-top-search">
							<i class="lnr lnr-magnifier"></i>
							<input type="text" name="search" id="search">
						</div>
						<div>
							<a href="usuariosForm.php">
								<i class="lnr lnr-magnifier"></i>
							</a>
						</div>

						<div id="data-top-title">
							<div>
								<p>SUBCATEGORIAS</p>
								<small> <span id="pagI">1</span> a <span id="pagF">10</span> de {#$count#}</small>
							</div>
							<div>
								<i class="lnr lnr-users"></i>
							</div>
						</div>

					</div>
					
					<div id="data-list">

						<div id="data-list-titles">
							<p>Subcategoría</p>
							<p>Categoría</p>
						</div>

						<div id="data-list-fields" class="tabla">
							{#foreach from=$datos item=dato#}
			  				<div class="data-list-field">

									<div>
										<p>{#$dato.nombre#}</p>
									</div>

									<div>
										<p>{#$dato.padre#}</p>
									</div>

									<div class="data-list-field-option" data-field="{#$dato.idUsuario#}">
										<a href="usuariosForm.php?idUsuario={#$dato.idUsuario#}">
											<div class="edit" data-field="{#$dato.idUsuario#}">
												<p>EDITAR</p>
												<em class="lnr lnr-pencil"></em>
											</div>
										</a>

										<div class="show-hide eliminar" data-field="{#$dato.idUsuario#}">
											<p>OCULTAR</p>
											<em class="lnr lnr-eye-hidden"></em>
										</div>

										<i class="close lnr lnr-cross" data-field="{#$dato.idUsuario#}"></i>

									</div>

									<div class="data-list-field-menu" data-field="{#$dato.idUsuario#}">
										<em class="lnr lnr-menu"></em>
									</div>

							</div>
							{#/foreach#}
						</div>

						<nav id="data-list-bottom">
							<ul>
							{#foreach from=$grupos item=numero#}
		  						<li><a class="num" id="{#$numero#}" href="#">{#$numero#}</a></li>
							{#/foreach#}
							</ul>
						</nav>

					</div>

					<div id="data-bottom">

						<div id="data-bottom-message">
							<form id="forma">
								<input type="file" name="archivo" id="archivo">
							</form>
							<button id="guardar">Guardar</button>
							<span id="info"></span>
						</div>
						
					</div>

				</div>

			</article>
			
		</section>

		<footer>
			
		</footer>
	<script type="text/javascript" src="js/categorias.js"></script>
{#include file="footer.html"#}
    