{#include file="head.html"#}
{#include file="menu.html"#}

			<article>
				
				<form id="create" action="">

					<div id="create-title">
						<div id="create-title-option">
							<p>Terminar Noticia</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-news" id="guardar"></i>
						</div>
					</div>

					<div class="create-fileds">
						
						<div class="create-field">
							<input type="text" name="title" id="title" placeholder="Titulo">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<input type="text" name="title" id="title" placeholder="Frase destacada titulo">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<select name="category" id="category">
								<option>Categoría</option>
								<option value="1">1</option>
								<option value="1">2</option>
								<option value="1">3</option>
								<option value="1">4</option>
								<option value="1">5</option>
								<option value="1">6</option>
							</select>	
							<div class="create-field-line"></div>
							
						</div>
						<div class="create-field">
							<input type="file" name="image" id="image" placeholder="Imagen">
							<input type="hidden" name="accion" id="accion" placeholder="setNoticia">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<textarea name="description" id="description" placeholder="Contenido noticia"></textarea>
						</div>

					</div>

					<div class="create-image">
					</div>

					<div class="create-template">
						<i class="lnr lnr-chevron-left"></i>
						<div class="create-templates">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<i class="lnr lnr-chevron-right"></i>
					</div>

					<div id="create-buton">
						<i class="lnr lnr-chevron-left"></i>
						<p>Sección Uno</p>
						<i class="lnr lnr-chevron-right"></i>
					</div>

				</form>

			</article>
			
		</section>

		<footer>
			
		</footer>
		<script type="text/javascript" src="js/noticia.js"></script>
    </body>
</html>

