{#include file="head.html" user=$user#}
{#include file="menu.html"#}

			<article>
				
				<form id="create">

					<div id="create-title">
						<div id="create-title-option">
							<p>Crear Categoría</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-users"></i>
						</div>
					</div>

					<div class="create-fileds">
						<div class="create-field">


							<input type="text" name="category" id="idCategoria" placeholder="Categoría">
							<select>
								<option>Categoría</option>
								{#foreach from=$categorias item=dato#}
								<option value="{#$dato.idCategoria#}">{#$dato.nombre#}</option>
								{#/foreach#}
							</select>
							<div class="create-field-line"></div>
							<input type="text" name="category" id="nombreSubcategoria" placeholder="Categoría">
							<div class="create-field-line"></div>
							<input type="button" id="btnInsertCat" value="crear">
						</div>
					</div>

				</form>

			</article>
			
		</section>
		<script type="text/javascript" src="js/categoria.js"></script>
{#include file="footer.html"#}

