{#include file="head.html"#}
{#include file="menu.html"#}

			<article>
				
				<form id="create">

					<div id="create-title">
						<div id="create-title-option">
							<p>Terminar Noticia</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-news" id="guardar"></i>
						</div>
					</div>

					<div class="create-fileds">
						
						<div class="create-field">
							<input type="text" name="titulo" id="titulo" placeholder="Titulo">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<input type="text" name="subtitulo" id="subtitulo" placeholder="Frase destacada titulo">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<select name="idSubCategoria" id="idSubCategoria">
								
								<option>Categoría</option>
								{#foreach from=$subcategorias item=dato#}
								<option value="{#$dato.idCategoria#}">{#$dato.nombre#}</option>
								{#/foreach#}
							</select>	
							<div class="create-field-line"></div>
							
						</div>
						<div class="create-field">
							<input type="file" name="image" id="image" placeholder="Imagen">
							<input type="hidden" name="accion" value="setNoticia" id="accion">
							<input type="hidden" name="idUsuarioAdmin" value="1" id="idUsuarioAdmin">
							<input type="hidden" name="contenido" value="" id="contenido">
							<input type="hidden" name="tipoTemplate" value="1" id="tipoTemplate">
							<div class="create-field-line"></div>
						</div>
						<div class="create-field">
							<textarea name="description" id="description" placeholder="Contenido noticia"></textarea>
						</div>

					</div>

					<div class="create-image">
					</div>

					<div class="create-template">
						<i class="lnr lnr-chevron-left"></i>
						<div class="create-templates">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<i class="lnr lnr-chevron-right"></i>
					</div>

					<div id="create-buton">
						<i class="lnr lnr-chevron-left"></i>
						<p>Sección Uno</p>
						<i class="lnr lnr-chevron-right"></i>
					</div>

				</form>

			</article>
			
		</section>

		<footer>
			
		</footer>
		<script type="text/javascript" src="js/noticia.js"></script>
    </body>
</html>

