{#include file="head.html" user=$user#}
<article>
	
	<div id="links">
		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-users"></em>
				</div>
			</div>
			<p>3.000 Usuarios</p>
			<div class="link-nav">
				<b class="lnr lnr-eye"></b>
				<b class="lnr lnr-plus"></b>
			</div>
		</div>
		
		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-spell-check"></em>
				</div>
			</div>
			<p>49 Categorías</p>
			<div class="link-nav">
				<b class="lnr lnr-eye"></b>
				<b class="lnr lnr-plus"></b>
			</div>
		</div>

		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-news"></em>
				</div>
			</div>
			<p>20.000 Noticias</p>
			<div class="link-nav">
				<b class="lnr lnr-eye"></b>
				<b class="lnr lnr-plus"></b>
			</div>
		</div>
	</div>

</article>
{#include file="footer.html"#}