{#include file="head.html" user=$user#}
{#include file="menu.html"#}
<article>
	
	<div id="links">
		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-users"></em>
				</div>
			</div>
			<p>{#$countUsuarios#} Usuarios</p>
			<div class="link-nav">
				<a href="usuarios.php">
					<b class="lnr lnr-eye"></b>
				</a>
				<a href="usuariosForm.php">
					<b class="lnr lnr-plus"></b>
				</a>
			</div>
		</div>
		
		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-spell-check"></em>
				</div>
			</div>
			<p>{#$countCategorias#} Categorías</p>
			<div class="link-nav">
				<a href="categorias.php">
					<b class="lnr lnr-eye"></b>
				</a>
				<a href="categoriasForm.php">
					<b class="lnr lnr-plus"></b>
				</a>
			</div>
		</div>

		<div class="link">
			<div class="link-circle">
				<div>
					<em class="lnr lnr-news"></em>
				</div>
			</div>
			<p>{#$countNoticias#} Noticias</p>
			<div class="link-nav">
				<a href="listaNoticias.php">
					<b class="lnr lnr-eye"></b>
				</a>
				<a href="noticiasForm.php">
					<b class="lnr lnr-plus"></b>
				</a>
			</div>
		</div>
	</div>

</article>
{#include file="footer.html"#}