{#include file="head.html"#}
{#include file="menu.html"#}


			<article id="{#$seccion#}">
				
				<div id="data">

					<div id="data-top" class="data-panel">

						<div id="data-top-search">
							<i class="lnr lnr-magnifier"></i>
							<input autocomplete="off" data-path=".data-search" type="text" value="" placeholder="Buscar" data-control-type="textbox" data-control-name="data-search-filter" data-control-action="filter" type="text" name="search" id="search">
						</div>

						<div id="data-top-title">
							<div>
								<p>USUARIOS</p>
								<small data-type="{start} - {end} de {all}" data-control-type="pagination-info"  data-control-name="paging"  data-control-action="paging">
								</small>
							</div>
							<div>
								<i class="lnr lnr-users"></i>
							</div>
							<div>
								<a href="usuariosForm.php">
									<i class="lnr lnr-plus"></i>
								</a>
							</div>
						</div>

					</div>
					
					<div id="data-list">

						<div id="data-list-titles">
							<p>Nombre</p>
							<p>Email</p>
							<p>Cargo</p>
							<p>Puntos</p>
						</div>

						<div id="data-list-fields">
							{#foreach from=$datos item=dato#}
			  				<div class="data-list-field">

									<div>
										<p class="data-search">{#$dato.nombre#}</p>
										<small class="data-search">{#$dato.apellido#}</small>
									</div>

									<div>
										<p class="data-search">{#$dato.email#}</p>
									</div>

									<div>
										<p class="data-search">{#$dato.cargo#}</p>
									</div>

									<div>
										<p class="data-search">{#$dato.puntos#}</p>
									</div>

									<div class="data-list-field-option" data-field="{#$dato.idUsuario#}">
										<a href="usuariosForm.php?idUsuario={#$dato.idUsuario#}">
											<div class="edit" data-field="{#$dato.idUsuario#}">
												<p>EDITAR</p>
												<em class="lnr lnr-pencil"></em>
											</div>
										</a>

										<div class="show-hide eliminar" data-field="{#$dato.idUsuario#}">
											<p>OCULTAR</p>
											<em class="lnr lnr-eye-hidden"></em>
										</div>

										<i class="close lnr lnr-cross" data-field="{#$dato.idUsuario#}"></i>

									</div>

									<div class="data-list-field-menu" data-field="{#$dato.idUsuario#}">
										<em class="lnr lnr-menu"></em>
									</div>

							</div>
							{#/foreach#}
						</div>

						<div id="data-list-bottom" class="data-panel">
							<div  class="jplist-pagination"  data-control-type="pagination"  data-control-name="paging"  data-control-action="paging" data-items-per-page="7"  data-control-animate-to-top="true">
							</div>
						</div>

					</div>



					<div id="data-bottom">

						<div id="data-bottom-message">
							<form id="create-excel">
								<input type="hidden" name="accion" id="accion" value="setUsuariosExcel"/>
								<input type="file" name="excel" id="excel" class="upload-file" />
								<label for="excel"><span>Carga masiva de usuarios, <br> Seleccione el archivo</span></label>
								<div class="icon-upload-file">
									<i class="lnr lnr-upload"></i>
									<i class="lnr lnr-file-empty"></i>
								</div>
							</form>
						</div>
						
					</div>

				</div>

			</article>
			
		</section>

	<script type="text/javascript" src="js/usuarios.js"></script>
  <script type="text/javascript" src="js/vendor/jplist.core.min.js"></script>
  <script type="text/javascript" src="js/vendor/jplist.pagination-bundle.min.js"></script>
  <script type="text/javascript" src="js/vendor/jplist.textbox-filter.min.js"></script>

{#include file="footer.html"#}
    