{#include file="head.html" user=$user#}


		<article>
				
				<form id="login">

					<div id="login-logo"></div>

					<div id="login-fileds">
						<div class="login-field">
							<input type="text" name="user" id="user" placeholder="Usuario">
							<div class="login-field-line"></div>
						</div>
						<div class="login-field">
							<input type="password" name="password" id="password" placeholder="Contraseña">
							<div class="login-field-line"></div>
						</div>
					</div>

					<div id="login-buton">
						<p>Iniciar sesión</p>
						<i class="lnr lnr-arrow-right"></i>
					</div>

				</form>

			</article>
			
		</section>

  <script>
  $(document).ready(function(){

    $("#login-buton").click(function(){
  result = sendAjax("serviceAdmin.php", "doLogin", {usuario:$('#user').val(),pass:$('#password').val()});
  if (result.error == 1){
    location.href='index.php';
  }else{
    alert('Ocurrio un error, verifique sus datos de incio de sesión');
  }
    });
  });
  </script>

    </body>
</html>

