<nav>
				<div id="logo">
					<img src="../server/img/logo.png" alt="">
				</div>
				<ul id="nav-dashboard">
					<li>
						<a href="./">
							<i class="lnr lnr-home"></i>
							<span>Inicio</span>
						</a>
					</li>
					<li class="active">
						<a href="goUsuarios.php">
							<i class="lnr lnr-users"></i>
							<span>Usuarios</span>
						</a>
					</li>
					<li>
						<a href="categorias.php">
							<i class="lnr lnr-spell-check"></i>
							<span>Categorías</span>
						</a>
					</li>
					<li>
						<a href="noticias.php">
							<i class="lnr lnr-news"></i>
							<span>Noticias</span>
						</a>
					</li>
				</ul>
				<ul id="nav-profile">
					<li>
						<a href="">
							<p>{#$user[0]#} {#$user[1]#}</p>
						<!-- 	<small>Director</small> -->
						</a>
					</li>
					<li>
						<a href="">
							<i class="lnr lnr-cog"></i>
						</a>
					</li>
					<li>
						<a href="">
							<i class="lnr lnr-power-switch" onclick="logout()"></i>
						</a>
					</li>
					</li>
				</ul>
			</nav>