{#include file="head.html" user=$user#}
{#include file="menu.html"#}

			<article>
				
				<form id="create" class="">

					<div id="create-title">
						<div id="create-title-option">
							<p>{#$titleForm#} Noticia</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-users"></i>
						</div>
					</div>

					<div id="create-two">

						<div class="create-fileds">

								<div class="create-field create-fileds-two">
									<input type="hidden" name="idNoticia" id="idNoticia" value="{#$noticia.idNoticia#}">
									<input type="text" name="titulon" id="titulon"value="{#$noticia.titulo#}"  placeholder="Titulo">
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<input type="text" name="subtitulo" value="{#$noticia.subtitulo#}" id="subtitulo" placeholder="Subtitulo">
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<input type="text" name="contenido" value="{#$noticia.contenido#}" id="contenido" placeholder="Contenido">
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<input type="text" name="tipoTemplate" value="{#$noticia.tipoTemplate#}" id="tipoTemplate" placeholder="Tipo Template">
									<div class="create-field-line"></div>
								</div>


						</div>
						<div class="create-fileds">
							{#foreach from=$noticia.secciones item=dato#}
								<div class="create-field">
									<input type="hidden" name="idSeccionNoticia" id="idSeccionNoticia" value="{#$dato.idSeccionNoticia#}">
									<input type="text" name="seccionTitulo" id="seccionTitulo" value="{#$dato.titulo#}">
									<div class="create-field-line"></div>
								</div>
								<div class="create-field">
									<input type="text" name="seccionContenido" id="seccionContenido" value="{#$dato.contenido#}">
									<div class="create-field-line"></div>
								</div>
								<div class="create-field">
									<img width="120px" src="images/{#$dato.imagen#}">
									<input type="file" name="seccionImagen" id="seccionImagen" value="">
									<div class="create-field-line"></div>
								</div> 
							{#/foreach#}
						</div>

					</div>

				</form>

			</article>
			
		</section>
		<script type="text/javascript" src="js/usuarios.js"></script>
{#include file="footer.html"#}

