{#include file="head.html" user=$user#}
{#include file="menu.html"#}

			<article>
				
				<form autocomplete="off" id="create" class="">

					<div id="create-title">
						<div id="create-title-option">
							<p>{#$titleForm#} Noticia</p>
							<em class="lnr lnr-checkmark-circle"></em>
							<i class="lnr lnr-users"></i>
						</div>
					</div>

					<div id="create-two">

						<div class="create-fileds" style="overflow-y:scroll;">

								<div class="create-field create-fileds-two">
									<input type="hidden" name="accion" id="accion" value="updateNoticia">
									<input type="hidden" name="idNoticia" id="idNoticia" value="{#$noticia.idNoticia#}">
									<input type="text" name="titulon" id="titulon"value="{#$noticia.titulo#}"  placeholder="Titulo">
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<input type="text" name="subtitulo" value="{#$noticia.subtitulo#}" id="subtitulo" placeholder="Subtitulo">
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<textarea name="contenido"  id="contenido" placeholder="Contenido">{#$noticia.contenido#}</textarea>
									<div class="create-field-line"></div>
								</div>

								<div class="create-field">
									<input type="text" name="tipoTemplate" value="{#$noticia.tipoTemplate#}" id="tipoTemplate" placeholder="Tipo Template">
									<div class="create-field-line"></div>
								</div>
								<div class="create-field">
								{#if isset($noticia.imagen) && !empty($noticia.imagen)#}
									<img width="120px" src="img/noticias/{#$noticia.imagen#}">
								{#/if#}
									<input type="file" name="image" id="image" value="">
									<div class="create-field-line"></div>
								</div> 


						</div>
						<div class="create-fileds" style="overflow-y:scroll;">
							{#foreach from=$noticia.secciones item=dato#}
						
							<div class="dinamic" data-id="{#$dato.idSeccionNoticia#}">
							
								<i class="lnr oculta" data-ids="{#$dato.idSeccionNoticia#}" style="color:white;cursor:pointer;">X</i>
								<div class="create-field">
									<input type="hidden" name="idSeccionNoticia{#$dato.idSeccionNoticia#}" id="idSeccionNoticia{#$dato.idSeccionNoticia#}" value="{#$dato.idSeccionNoticia#}">
									<input type="text" class="input-contenido" name="titulo{#$dato.idSeccionNoticia#}" id="titulo{#$dato.idSeccionNoticia#}" value="{#$dato.titulo#}">
									<div class="create-field-line"></div>
								</div>
								<div class="create-field">
									<span class="msg-dinamico"></span>
									<textarea name="contenido{#$dato.idSeccionNoticia#}" id="contenido{#$dato.idSeccionNoticia#}">{#$dato.contenido#}</textarea>
									<div class="create-field-line"></div>
								</div>
								<div class="create-field">
								{#if isset($dato.imagen) && !empty($dato.imagen)#}
									<img width="120px" src="img/noticias/{#$dato.imagen#}">
								{#/if#}
									<input type="file" name="image{#$dato.idSeccionNoticia#}" id="image{#$dato.idSeccionNoticia#}" value="">
									<div class="create-field-line"></div>
								</div> 
							</div>
							<br>
							{#/foreach#}
						</div>

					</div>

				</form>

			</article>
			
		</section>
		<script type="text/javascript" src="js/vendor/trumbowyg.min.js"></script>
		<script type="text/javascript" src="js/vendor/jplist.core.min.js"></script>
		<script type="text/javascript" src="js/vendor/jplist.pagination-bundle.min.js"></script>
		<script type="text/javascript" src="js/vendor/jplist.textbox-filter.min.js"></script>
		<script type="text/javascript" src="js/functions.js"></script>
		<script type="text/javascript" src="js/noticias.js"></script>
		<script type="text/javascript">
			$('textarea').each(function(){
				$(this).trumbowyg({
			 	autogrow: true,
			  resetCss: true,
		    btns: [
		        ['viewHTML'],
		        ['formatting'],
		        ['removeformat'],
		        ['fullscreen'],
		        'btnGrp-semantic',
		        ['link'],
		        'btnGrp-justify',
		        'btnGrp-lists',
		        ['horizontalRule'],
		    ]
		});
			});
		</script>
		
{#include file="footer.html"#}

