{#include file="head.html" user=$user#}

			<article id="{#$seccion#}">
				
				<div id="data">

					<div id="data-top">

						<div id="data-top-search">
							<i class="lnr lnr-magnifier"></i>
							<input type="text" name="search" id="search">
						</div>

						<div id="data-top-title">
							<div>
								<p>USUARIOS</p>
								<small> <span id="pagI">1</span> a <span id="pagF">10</span> de {#$count#}</small>
							</div>
							<div>
								<i class="lnr lnr-users"></i>
							</div>
						</div>

					</div>
					
					<div id="data-list">

						<div id="data-list-titles">
							<p>Nombre</p>
							<p>Email</p>
							<p>Cargo</p>
							<p>Puntos</p>
						</div>

						<div id="data-list-fields" class="tabla">
						{#foreach from=$datos item=dato#}
		  				<div class="data-list-field">
							<div>
								<p>{#$dato.nombre#}</p>
								<small>{#$dato.apellido#}</small>
							</div>
							<div>
								<p>{#$dato.email#}</p>
							</div>
							<div>
								<p>{#$dato.cargo#}</p>
							</div>
							<div>
								<p>{#$dato.puntos#}</p>
							</div>
							<div class="data-list-field-option">
								<em class="lnr lnr-pencil"></em>
							</div>
						</div>
						{#/foreach#}
							

						</div>

						<nav id="data-list-bottom">
							<ul>
							{#foreach from=$grupos item=numero#}
		  						<li><a class="num" id="{#$numero#}" href="#">{#$numero#}</a></li>
							{#/foreach#}
							</ul>
						</nav>

					</div>

					<div id="data-bottom">

						<div id="data-bottom-message">
							
						</div>
						
					</div>

				</div>

			</article>
			
		</section>

		<footer>
			
		</footer>
	<script type="text/javascript" src="../server/js/paginador.js"></script>
{#include file="footer.html"#}
    