{#include file="head.html"#}
{#include file="menu.html"#}


			<article id="{#$seccion#}">
				
				<div id="data">

					<div id="data-top">

						<div id="data-top-search">
							<i class="lnr lnr-magnifier"></i>
							<input type="text" name="search" id="search">
						</div>

						<div id="data-top-title">
							<div>
								<p>USUARIOS</p>
								<small> <span id="pagI">1</span> a <span id="pagF">10</span> de {#$count#}</small>
							</div>
							<div>
								<i class="lnr lnr-users"></i>
							</div>
						</div>

					</div>
					
					<div id="data-list">

						<div id="data-list-titles">
							<p>Nombre</p>
							<p>Email</p>
							<p>Cargo</p>
							<p>Puntos</p>
						</div>

						<div id="data-list-fields" class="tabla">
							{#foreach from=$datos item=dato#}
			  				<div class="data-list-field">

									<div>
										<p>{#$dato.nombre#}</p>
										<small>{#$dato.apellido#}</small>
									</div>

									<div>
										<p>{#$dato.email#}</p>
									</div>

									<div>
										<p>{#$dato.cargo#}</p>
									</div>

									<div>
										<p>{#$dato.puntos#}</p>
									</div>

									<div class="data-list-field-option" data-field="{#$dato.idUsuario#}">

										<div class="edit" data-field="{#$dato.idUsuario#}">
											<p>EDITAR</p>
											<em class="lnr lnr-pencil"></em>
										</div>

										<div class="show-hide" data-field="{#$dato.idUsuario#}">
											<p>OCULTAR</p>
											<em class="lnr lnr-eye-hidden"></em>
										</div>

										<i class="close lnr lnr-cross" data-field="{#$dato.idUsuario#}"></i>

									</div>

									<div class="data-list-field-menu" data-field="{#$dato.idUsuario#}">
										<em class="lnr lnr-menu"></em>
									</div>

							</div>
							{#/foreach#}
						</div>

						<nav id="data-list-bottom">
							<ul>
							{#foreach from=$grupos item=numero#}
		  						<li><a class="num" id="{#$numero#}" href="#">{#$numero#}</a></li>
							{#/foreach#}
							</ul>
						</nav>

					</div>

					<div id="data-bottom">

						<div id="data-bottom-message">
							<form id="forma">
								<input type="file" name="archivo" id="archivo">
							</form>
							<button id="guardar">Guardar</button>
							<span id="info"></span>
						</div>
						
					</div>

				</div>

			</article>
			
		</section>

		<footer>
			
		</footer>
	<script type="text/javascript" src="js/paginador.js"></script>
	<script type="text/javascript">

		$( ".data-list-field-menu").on( "click", function() {
			var field=$(this).attr("data-field");
			$(".data-list-field-option[data-field='"+field+"']").show();

		});

		$( ".close").on( "click", function() {
			var field=$(this).attr("data-field");
			$(".data-list-field-option[data-field='"+field+"']").hide();
		});


		$('#guardar').click(function(){

			var archivo = $("#forma input[name=archivo]").val();
			var input = $("#archivo");
			console.log(input.file);
				archivo= archivo.split('.');
				var img= '';
				var ext =false;
				//console.log(archivo[(archivo.length -1)]);
			    ext=archivo[(archivo.length -1)];
				if (true ) { //
					img=true;
				}else { 
					$("#info").addClass('error');
					$("#info").html('<span style="color:#f04124;">Por favor selecciona un archivo con extensión xlsx (EXCEL).</span>');
				}

				if (img) {
					alert('archivo correcto');
				}else{
					alert('archivo incorrecto');
				}
		});

	</script>
{#include file="footer.html"#}
    